<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sushant.symptomchecker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Triage</name>
    <description>
        AI-assisted symptom checker built with Cordova, using the Grok API for
        conversational triage. Not a substitute for professional medical advice.
    </description>
    <author email="sushantnamurte@gmail.com" href="https://github.com/sushant160404">
        Sushant Namurte
    </author>

    <content src="index.html" />

    <!-- Network access: your backend proxy + any care-locator APIs you add -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="geo:*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="false" />
        </edit-config>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <!-- Core plugins used by this app -->
    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.1.0" />
    <plugin name="cordova-sqlite-storage" spec="^6.1.0" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.3" />
</widget>
